<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4">Журнал посещаемости</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/group">Посещаемость</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/group/add">Добавление группы</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/failures">Пропуски</a>
        </nav>
    </div>
</div>